<section id="contact" class="contact-section section-padding">
  <div class="container">
      <h2 class="section-title wow fadeInUp">Contato</h2>

      <div class="row">

          <div class="col-md-12">
              <div class="row center-xs">

                  <div class="col-sm-3">
                      <i class="fa fa-mobile"></i>
                      <div class="contact-number">
                          <strong>Celular</strong>
                          (67) 98196-2036
                      </div>
                  </div>

                  <div class="col-sm-3">
                      <i class="fa fa-envelope"></i>
                      <address>
                          <strong>E-mail</strong>
                          carlos.henry.sp@gmail.com
                      </address>
                  </div>

                  <div class="col-sm-3">
                      <i class="fa fa-linkedin"></i>
                      <address>
                          <strong>Linkedin</strong>
                          <a href="https://www.linkedin.com/in/carlos-henrique-soares-pires-1786b5a9/" target="_blank">Acessar</a>
                      </address>
                  </div>

                  <div class="col-sm-3">
                      <i class="fa fa-skype"></i>
                      <address>
                          <strong>Skype</strong>
                          carloshenry
                      </address>
                  </div>




              </div>

              <!--<div class="row">
                  <div class="col-sm-12">
                      <div class="location-map">
                          <div id="mapCanvas" class="map-canvas"></div>
                      </div>
                  </div>
              </div>-->

          </div>
      </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- End Contact Section -->
