<!-- TimeLine Certificações -->
<div class="row" id="certificacoes">
  <br>
  <br>
  <div class="col-md-12">
    <div class="resume-title">
      Certificações
    </div>
    <div class="resume">
      <ul class="timeline">
        <li *ngFor="let certificacoes of pessoa?.certifications; let i = index" [ngClass]="i % 2 === 0 ? '' : 'timeline-inverted'">
          <div class="posted-date">
            <span class="month">{{ certificacoes.ano }}</span>
          </div><!-- /posted-date -->

          <div class="timeline-panel wow fadeInUp">
            <div class="timeline-content">
              <div class="timeline-heading">
                <h3>{{ certificacoes.titulo }}</h3>
                <img [src]="certificacoes.certificadoraImg" style="width: 120px">
                <!-- <span>{{ certificacoes.certificadora }}</span> -->
              </div><!-- /timeline-heading -->

              <div class="timeline-body">
                <div class="portfolio-item col-xs-12 col-sm-12 col-md-12" data-groups='["all", "identety", "web"]'>
                  <div class="portfolio-bg">
                    <div class="portfolio portfolio-wrapper">
                      <div class="tt-overlay"></div>
                      <div class="links">
                        <a class="image-link" [href]="certificacoes.imgLink"><i class="fa fa-search-plus"></i></a>
                        <a [href]="certificacoes.urlCertificacao" target="_blank"><i class="fa fa-link"></i></a>
                      </div><!-- /.links -->
                      <img [src]="certificacoes.imgCertificacao" alt="image" style="width: 200px;">
                      <div class="portfolio-info">
                        <h3>{{ certificacoes.idCertificacao }}</h3>
                      </div><!-- /.portfolio-info -->
                    </div><!-- /.portfolio -->
                  </div><!-- /.portfolio-bg -->
                </div><!-- /.portfolio-item -->
              </div><!-- /timeline-body -->
            </div><!-- /timeline-content -->
          </div><!-- /timeline-panel -->
        </li>
      </ul>
    </div>
  </div>
</div><!-- /row -->
