<section
  id="works"
  class="works-section section-padding"
  style="padding: 120px 0 30px !important"
>
  <div class="container">
    <h2 class="section-title wow fadeInUp">Portifólio de Trabalhos</h2>

    <ul class="list-inline" id="filter">
      <li><a class="active" data-group="all">Todos</a></li>
      <li><a data-group="web">Web</a></li>
      <li><a data-group="progress">Progress</a></li>
      <li><a data-group="mobile">Mobile</a></li>
      <li><a data-group="powerbi">Power BI</a></li>

    </ul>

    <div class="row">
      <div id="grid">
        <div *ngFor="let trabalho of pessoa.works"
        class="portfolio-item col-xs-12 col-sm-4 col-md-4" [attr.data-groups]="getGroups(trabalho.grupo)">

          <div class="portfolio-bg">
            <div class="portfolio">
              <div class="tt-overlay"></div>
              <div class="links">
                <a class="image-link" [href]="trabalho.imgLink"
                  ><i class="fa fa-search-plus"></i
                ></a>
                <a href="#"><i class="fa fa-link"></i></a>
              </div>
              <!-- /.links -->
              <img [src]="trabalho.imgWork" alt="image" />
              <div class="portfolio-info">
                <h3>{{ trabalho.nome }}</h3>
              </div>
              <!-- /.portfolio-info -->
            </div>
            <!-- /.portfolio -->
          </div>
          <!-- /.portfolio-bg -->
        </div>
        <!-- /.portfolio-item -->
      </div>
      <!-- /#grid -->
    </div>
    <!-- /.row -->

    <div class="container">
      <div class="card text-center">
        <div class="card-body d-flex align-items-center justify-content-center">
          <div class="col-sm-12">
            <div class="d-flex align-items-center">
              <br />
              <br />
              <br />
              <a href="https://github.com/carloshenry10" style="cursor: pointer">
                <i class="fa fa-github" style="font-size: 60px"></i>
                <strong style="font-size: 30px">GitHub</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Works Section -->
