<form [formGroup]="schoolingForm">
  <div class="mb-3">
    <!-- Loop pelos controles do FormArray -->
    <div class="row">
      <div class="form-group col-md-4">
    <label for="anoFim">Ano de Conclusão:</label>
    <input type="number" id="anoFim" formControlName="anoFim" class="form-control" required>
  </div>
  <div class="form-group col-md-4">

    <label for="tipoCurso">Tipo Curso:</label>
    <input type="text" id="tipoCurso" formControlName="tipoCurso" class="form-control" required>
  </div>
  <div class="form-group col-md-4">

    <label for="curso">Curso:</label>
    <input type="text" id="curso" formControlName="curso" class="form-control" required>
  </div>

  </div>

  <div class="row">
    <div class="form-group col-md-6">
    <label for="instituicao">Instituição:</label>
    <input type="text" id="instituicao" formControlName="instituicao" class="form-control" required
           [formControl]="searchControl"
        (input)="onSearch()"
        (focus)="onSearch()"
        (blur)="onBlur()">

  <ul *ngIf="showSuggestions">
    <li *ngFor="let suggestion of suggestions"
        (click)="selectSuggestion(suggestion)">
      {{ suggestion.nome }}
    </li>
  </ul>




  </div>
  <div class="form-group col-md-6">

    <label for="instituicaoImg">Imagem Instituição:</label>
    <input type="text" id="instituicaoImg" formControlName="instituicaoImg" class="form-control" required>
  </div>
</div>


<div class="row">
  <div class="form-group col-md-6">
    <label for="status">Status:</label>
    <input type="text" id="status" formControlName="status" class="form-control">
  </div>
  <div class="form-group col-md-6">

    <label for="conclusao">Conclusão:</label>
    <input type="text" id="conclusao" formControlName="conclusao" class="form-control">

  </div>
</div>


  </div>

  <button
    class="btn btn-primary btn-lg"
    (click)="addSchooling()">Adicionar Escolaridade</button>
</form>

<hr class="my-4">

<h2>Escolaridades:</h2>
<ul class="list-unstyled">
  <li *ngFor="let schoolingItem of pessoa?.schooling; let i = index" class="mb-3">
    <div class="row align-items-center">
      <div class="col-3">
        <img [src]="schoolingItem.instituicaoImg" class="img-thumbnail" style="width: 200px;">
      </div>
      <div class="col-9">
        <p><strong>Ano de Conclusão:</strong> {{ schoolingItem.anoFim }}</p>
        <p><strong>Tipo de Curso:</strong> {{ schoolingItem.tipoCurso }}</p>
        <p><strong>Curso:</strong> {{ schoolingItem.curso }}</p>
        <p><strong>Instituição:</strong> {{ schoolingItem.instituicao }}</p>
        <p><strong>Status:</strong> {{ schoolingItem.status }}</p>
        <p><strong>Conclusão:</strong> {{ schoolingItem.conclusao }}</p>

        <button type="button" class="btn btn-danger btn-lg" ngbTooltip="Remover item {{ schoolingItem.curso }}" (click)="removeSchooling(i)">
          <i class="fa fa-trash text-14"></i>
        </button>




      </div>
    </div>
    <hr class="my-4">
  </li>
</ul>


