<app-nav></app-nav>
<app-about></app-about>
<section class="resume-section section-padding">
  <div class="container">
    <h2 class="section-title wow fadeInUp">Experiência</h2>
    <app-experience></app-experience>
    <br>
    <app-schooling></app-schooling>
    <br>
    <app-certifications></app-certifications>
    <br>

  </div>
  <!-- /.container -->
</section>
<!-- End Resume Section -->
<app-skills></app-skills>
<app-works></app-works>
<app-contacts></app-contacts>
<app-footer></app-footer>

