<section id="contact" class="contact-section section-padding">
  <div class="container">
      <h2 class="section-title wow fadeInUp">Contato</h2>

      <div class="row">

          <div class="col-md-12">
              <div class="row center-xs">

                <div class="col-sm-3">
                  <i class="fab fa-whatsapp"></i>
                  <div>
                    <strong>WhatsApp</strong>
                    <a href="https://wa.me/5567981962036" target="_blank">(67) 98196-2036</a>
                  </div>
                </div>

                <div class="col-sm-3">

                    <i class="fa fa-envelope"></i>
                    <strong>E-mail</strong>
                    <a href="mailto:carlos.henry.sp@gmail.com">
                    carlos.henry.sp@gmail.com
                  </a>
                </div>

                  <div class="col-sm-3">
                      <i class="fab fa-linkedin"></i>
                      <div>
                          <strong>Linkedin</strong>
                          <a href="https://www.linkedin.com/in/carlos-henrique-soares-pires-1786b5a9/" target="_blank">Acessar</a>
                      </div>
                  </div>

                  <div class="col-sm-3">

                      <i class="fab fa-skype"></i>
                      <strong>Skype</strong>
                      <a href="skype:live:carlos-henry?chat">
                      carlos-henry
                    </a>
                  </div>





              </div>

              <!--<div class="row">
                  <div class="col-sm-12">
                      <div class="location-map">
                          <div id="mapCanvas" class="map-canvas"></div>
                      </div>
                  </div>
              </div>-->

          </div>
      </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- End Contact Section -->
