  <!-- TimeLine Certificações -->
  <div class="row" id="certificacoes">
    <br>
    <br>
    <div class="col-md-12">
        <div class="resume-title">
            <h3>Certificações</h3>
        </div>
        <div class="resume">
            <ul class="timeline">

                <li>
                    <div class="posted-date">
                        <span class="month">2023</span>
                    </div><!-- /posted-date -->

                    <div class="timeline-panel wow fadeInUp">
                        <div class="timeline-content">
                            <div class="timeline-heading">
                                <h3>Business Model Canvas Essentials Professional Certification BMCEPC™</h3>
                                <span>CertiPro</span>
                            </div><!-- /timeline-heading -->

                            <div class="timeline-body">
                                <div class="portfolio-item col-xs-12 col-sm-12 col-md-12" data-groups='["all", "identety", "web"]'>
                                    <div class="portfolio-bg">
                                        <div class="portfolio">
                                            <div class="tt-overlay"></div>
                                            <div class="links">
                                                <a class="image-link" href="assets/images/87479975.png"><i class="fa fa-search-plus"></i></a>
                                                <a  href="https://www.credly.com/badges/eb77076d-1cc4-4fcc-b81d-f4017ae52d11/public_url" target="_blank"><i class="fa fa-link"></i></a>
                                            </div><!-- /.links -->
                                            <img src="assets/images/87479975.png" alt="image" style="width: 200px;">
                                            <div class="portfolio-info">
                                                <h3>Certificação ID 87479975</h3>
                                            </div><!-- /.portfolio-info -->
                                        </div><!-- /.portfolio -->
                                    </div><!-- /.portfolio-bg -->
                                </div><!-- /.portfolio-item -->

                            </div><!-- /timeline-body -->
                        </div> <!-- /timeline-content -->
                    </div> <!-- /timeline-panel -->
                </li>


   <li class="timeline-inverted">
                        <div class="posted-date">
                            <span class="month">2023</span>
                        </div><!-- /posted-date -->

                        <div class="timeline-panel wow fadeInUp">
                            <div class="timeline-content">
                                <div class="timeline-heading">
                                    <h3>Fundamentos em Cibersegurança</h3>
                                    <span>IBSEC - Instituto Brasileiro de Cibersegurança</span>
                                </div><!-- /timeline-heading -->

                                <div class="timeline-body">
                                    <div class="portfolio-item col-xs-12 col-sm-12 col-md-12" data-groups='["all", "identety", "web"]'>
              <div class="portfolio-bg">
                <div class="portfolio">
                  <div class="tt-overlay"></div>
                  <div class="links">
                    <a class="image-link" href="assets/images/bc10123f461225c7.png"><i class="fa fa-search-plus"></i></a>
                    <a href="https://certs.ibsec.com.br?cert_hash=bc10123f461225c7" target="_blank"><i class="fa fa-link"></i></a>
                  </div><!-- /.links -->
                  <img src="assets/images/bc10123f461225c7.png" alt="image">
                  <div class="portfolio-info">
                    <h3>Certificação ID bc10123f461225c7</h3>
                  </div><!-- /.portfolio-info -->
                </div><!-- /.portfolio -->
              </div><!-- /.portfolio-bg -->
            </div><!-- /.portfolio-item -->

                                </div><!-- /timeline-body -->
                            </div> <!-- /timeline-content -->
                        </div> <!-- /timeline-panel -->
                </li>

                <li>
                    <div class="posted-date">
                        <span class="month">2023</span>
                    </div><!-- /posted-date -->

                    <div class="timeline-panel wow fadeInUp">
                        <div class="timeline-content">
                            <div class="timeline-heading">
                                <h3>Lean Six Sigma White Belt Professional Certification - LSSWBPC</h3>
                                <span>CertiPro</span>
                            </div><!-- /timeline-heading -->

                            <div class="timeline-body">
                                <div class="portfolio-item col-xs-12 col-sm-12 col-md-12" data-groups='["all", "identety", "web"]'>
                                    <div class="portfolio-bg">
                                        <div class="portfolio">
                                            <div class="tt-overlay"></div>
                                            <div class="links">
                                                <a class="image-link" href="assets/images/87182291.png"><i class="fa fa-search-plus"></i></a>
                                                <a href="https://www.credly.com/badges/f583a32d-5a38-4e7b-8215-ece7dc2f1860/public_url" target="_blank"><i class="fa fa-link"></i></a>
                                            </div><!-- /.links -->
                                            <img src="assets/images/87182291.png" alt="image" style="width: 200px;">
                                            <div class="portfolio-info">
                                                <h3>Certificação ID 87182291</h3>
                                            </div><!-- /.portfolio-info -->
                                        </div><!-- /.portfolio -->
                                    </div><!-- /.portfolio-bg -->
                                </div><!-- /.portfolio-item -->

                            </div><!-- /timeline-body -->
                        </div> <!-- /timeline-content -->
                    </div> <!-- /timeline-panel -->
                </li>

                <li class="timeline-inverted">
                    <div class="posted-date">
                        <span class="month">2023</span>
                    </div><!-- /posted-date -->

                    <div class="timeline-panel wow fadeInUp">
                        <div class="timeline-content">
                            <div class="timeline-heading">
                                <h3>Business Intelligence Foundation Professional Certification - BIFPC™</h3>
                                <span>CertiPro</span>
                            </div><!-- /timeline-heading -->

                            <div class="timeline-body">
                                <div class="portfolio-item col-xs-12 col-sm-12 col-md-12" data-groups='["all", "identety", "web"]'>
                                    <div class="portfolio-bg">
                                        <div class="portfolio">
                                            <div class="tt-overlay"></div>
                                            <div class="links">
                                                <a class="image-link" href="assets/images/84459304.png"><i class="fa fa-search-plus"></i></a>
                                                <a  href="https://www.credly.com/badges/06afb1a0-78c9-4eed-bf60-505a3279f198/public_url" target="_blank"><i class="fa fa-link"></i></a>
                                            </div><!-- /.links -->
                                            <img src="assets/images/84459304.png" alt="image" style="width: 200px;">
                                            <div class="portfolio-info">
                                                <h3>Certificação ID 84459304</h3>
                                            </div><!-- /.portfolio-info -->
                                        </div><!-- /.portfolio -->
                                    </div><!-- /.portfolio-bg -->
                                </div><!-- /.portfolio-item -->

                            </div><!-- /timeline-body -->
                        </div> <!-- /timeline-content -->
                    </div> <!-- /timeline-panel -->
                </li>

                <li>
                    <div class="posted-date">
                        <span class="month">2022</span>
                    </div><!-- /posted-date -->

                    <div class="timeline-panel wow fadeInUp">
                        <div class="timeline-content">
                            <div class="timeline-heading">
                                <h3>FUNDAMENTOS NA LEI GERAL DE PROTEÇÃO DE DADOS - LGPDF™</h3>
                                <span>CertiPro</span>
                            </div><!-- /timeline-heading -->

                            <div class="timeline-body">
                                <div class="portfolio-item col-xs-12 col-sm-12 col-md-12" data-groups='["all", "identety", "web"]'>
                                    <div class="portfolio-bg">
                                        <div class="portfolio">
                                            <div class="tt-overlay"></div>
                                            <div class="links">
                                                <a class="image-link" href="assets/images/79141001.png"><i class="fa fa-search-plus"></i></a>
                                                <a  href="https://www.credly.com/badges/eb77076d-1cc4-4fcc-b81d-f4017ae52d11/public_url" target="_blank"><i class="fa fa-link"></i></a>
                                            </div><!-- /.links -->
                                            <img src="assets/images/79141001.png" alt="image" style="width: 200px;">
                                            <div class="portfolio-info">
                                                <h3>Certificação ID 79141001</h3>
                                            </div><!-- /.portfolio-info -->
                                        </div><!-- /.portfolio -->
                                    </div><!-- /.portfolio-bg -->
                                </div><!-- /.portfolio-item -->

                            </div><!-- /timeline-body -->
                        </div> <!-- /timeline-content -->
                    </div> <!-- /timeline-panel -->
                </li>

                <li class="timeline-inverted">
                    <div class="posted-date">
                        <span class="month">2022</span>
                    </div><!-- /posted-date -->

                    <div class="timeline-panel wow fadeInUp">
                        <div class="timeline-content">
                            <div class="timeline-heading">
                                <h3>Scrum Foundation Professional Certificate - SFPC™ (v2020)</h3>
                                <span>CertiPro</span>
                            </div><!-- /timeline-heading -->

                            <div class="timeline-body">
                                <div class="portfolio-item col-xs-12 col-sm-12 col-md-12" data-groups='["all", "identety", "web"]'>
                                    <div class="portfolio-bg">
                                        <div class="portfolio">
                                            <div class="tt-overlay"></div>
                                            <div class="links">
                                                <a class="image-link" href="assets/images/79142615.png"><i class="fa fa-search-plus"></i></a>
                                                <a  href="https://www.credly.com/badges/35ebecfb-ec89-464e-ab4c-7c4da5b411c1/public_url" target="_blank"><i class="fa fa-link"></i></a>
                                            </div><!-- /.links -->
                                            <img src="assets/images/79142615.png" alt="image" style="width: 200px;">
                                            <div class="portfolio-info">
                                                <h3>Certificação ID 79142615</h3>
                                            </div><!-- /.portfolio-info -->
                                        </div><!-- /.portfolio -->
                                    </div><!-- /.portfolio-bg -->
                                </div><!-- /.portfolio-item -->

                            </div><!-- /timeline-body -->
                        </div> <!-- /timeline-content -->
                    </div> <!-- /timeline-panel -->
                </li>

                <li >
                    <div class="posted-date">
                        <span class="month">2022</span>
                    </div><!-- /posted-date -->

                    <div class="timeline-panel wow fadeInUp">
                        <div class="timeline-content">
                            <div class="timeline-heading">
                                <h3>Remote Work and Virtual Collaboration Certificate - RWVCPC™</h3>
                                <span>CertiPro</span>
                            </div><!-- /timeline-heading -->

                            <div class="timeline-body">
                                <div class="portfolio-item col-xs-12 col-sm-12 col-md-12" data-groups='["all", "identety", "web"]'>
                                    <div class="portfolio-bg">
                                        <div class="portfolio">
                                            <div class="tt-overlay"></div>
                                            <div class="links">
                                                <a class="image-link" href="assets/images/79148067.png"><i class="fa fa-search-plus"></i></a>
                                                <a  href="https://www.credly.com/badges/eb77076d-1cc4-4fcc-b81d-f4017ae52d11/public_url" target="_blank"><i class="fa fa-link"></i></a>
                                            </div><!-- /.links -->
                                            <img src="assets/images/79148067.png" alt="image" style="width: 200px;">
                                            <div class="portfolio-info">
                                                <h3>Certificação ID 79148067</h3>
                                            </div><!-- /.portfolio-info -->
                                        </div><!-- /.portfolio -->
                                    </div><!-- /.portfolio-bg -->
                                </div><!-- /.portfolio-item -->

                            </div><!-- /timeline-body -->
                        </div> <!-- /timeline-content -->
                    </div> <!-- /timeline-panel -->
                </li>

                <li class="timeline-inverted">
                    <div class="posted-date">
                        <span class="month">2021</span>
                    </div><!-- /posted-date -->

                    <div class="timeline-panel wow fadeInUp">
                        <div class="timeline-content">
                            <div class="timeline-heading">
                                <h3>Curso Progress ABL</h3>
                                <span>IDBA - Consultoria</span>
                            </div><!-- /timeline-heading -->

                            <div class="timeline-body">
                                    <ul class="list-check">
                                        <li>Progress Essencial (56 Horas)</li>
                                        <li>Progress Avançado + UPCs (18 Horas)</li>
                                        <li>Progress Avançado + HTML5 + WebSpeed + AppServer (18 Horas)</li>
                                    </ul>
                            </div><!-- /timeline-body -->
                        </div> <!-- /timeline-content -->
                    </div> <!-- /timeline-panel -->
                </li>


            </ul>
        </div>
    </div>
</div><!-- /row -->
