  <!-- TimeLine Experiência -->
  <div class="row" id="resume">
    <div class="col-md-12">
        <div class="resume-title">
            <h3>Experiência</h3>
        </div>
        <div class="resume">
            <ul class="timeline">

              <li *ngFor="let experiencia of pessoa.experience; let i = index" [ngClass]="i % 2 === 0 ? '' : 'timeline-inverted'">

                    <div class="posted-date">
                        <span class="month">{{experiencia.dtIni.getFullYear()}} - {{experiencia.dtFim.getFullYear()}}</span>
                    </div><!-- /posted-date -->

                    <div class="timeline-panel wow fadeInUp">
                        <div class="timeline-content">
                            <div class="timeline-heading">
                                <h3>{{experiencia.cargo}}</h3>
                                <span>{{experiencia.empresa}}</span>
                            </div><!-- /timeline-heading -->

                            <div class="timeline-body">
                                <p>
                                  {{experiencia.descricao}}
                                </p>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <i class="fa fa-map-marker"></i>
                                        {{experiencia.localizacao}}
                                    </div>

                                    <div class="col-sm-12">
                                        <i class="fa fa-calendar"></i>
                                        {{ experiencia.dtIni | date: 'MM/yyyy' }} - {{ experiencia.dtFim | date: 'MM/yyyy' }}


                                    </div>

                                </div>

                            </div><!-- /timeline-body -->

                        </div> <!-- /timeline-content -->

                    </div><!-- /timeline-panel -->
                </li>








            </ul>
        </div>
    </div>
</div><!-- /row -->
